﻿@inherits LayoutComponentBase
@layout MainLayout
@using Astralis_BlazorApp.Constants

<div class="container py-4">
    <div class="row g-4">
        <div class="col-lg-3">
            <div class="settings-sidebar glass-effect sticky-top" style="top: 100px; z-index: 1;">
                <div class="p-3 border-bottom border-white-10">
                    <h6 class="text-white text-uppercase small fw-bold mb-0 ls-1">Paramètres</h6>
                </div>
                <nav class="d-flex flex-column py-2">
                    <NavLink href="@AppRoutes.Profile" class="settings-nav-link">
                        <i class="bi bi-person-circle"></i> Mon Profil
                    </NavLink>

                    <NavLink href="@AppRoutes.Account" class="settings-nav-link">
                        <i class="bi bi-shield-lock"></i> Connexion & Sécurité
                    </NavLink>

                    <NavLink href="premium" class="settings-nav-link">
                        <i class="bi bi-star"></i> Abonnement
                    </NavLink>
                    <NavLink href="parametres/preferences" class="settings-nav-link">
                        <i class="bi bi-sliders"></i> Préférences
                    </NavLink>
                    <NavLink href="parametres/bibliotheque" class="settings-nav-link">
                        <i class="bi bi-collection"></i> Ma Bibliothèque
                    </NavLink>
                </nav>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="glass-effect p-4 p-md-5 rounded-3 border border-white-10">
                @Body
            </div>
        </div>
    </div>
</div>